.header {
  background-color: #42670654;
  color: rgb(224, 137, 23);
  height: 81px;
  padding: 0px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: grid;
  width: 100%;

  text-align: center;
  gap: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 2px solid rgba(255, 0, 0, 0.1);
  font-size: 25px;
}

.image {
  height: 4rem;
  width: 4rem;
  border: 1px solid rgb(22, 4, 4);
  border-radius: 50px;
}
