.footer {
  background-color: rgb(195, 167, 168);
  border: 2px dotted rgba(18, 14, 14, 0.47);
  height: 3rem;
  color: rgba(8, 4, 20, 0.315);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  font-style: italic;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  place-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer img {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  border-radius: 5rem;
}
