.footer {
  background-color: rgb(229, 222, 216);
  border: 2px dotted rgba(255, 0, 0, 0.47);
  height: 5rem;
  color: rgb(8, 4, 20);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  font-style: italic;
  font-size: 25px;
  display: flex;

  justify-content: center;
  place-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
