/* .container {
  width: 100%;
  height: calc(100vh - 175px);
  background-color: green;
  display: flex;
  justify-self: center;
  padding-left: 10rem;
} */
/* 
.container nav {
  float: left;
  width: 50%;
  height: calc(100vh - 178px);
  background: #ccc;
  padding: 30px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: 4px;
  padding-bottom: 0px;
} */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  overflow: hidden;
}
.box1 {
  background-color: rgba(60, 210, 60, 0.493);
  width: 20rem;
  height: calc(100vh - 180px);
}

.box2 {
  background-color: rgba(60, 32, 217, 0.429);

  width: 20rem;
  height: calc(100vh - 180px);
}

.box3 {
  background-color: rgba(222, 137, 209, 0.611);

  width: 20rem;
  height: calc(100vh - 180px);
}

.box4 {
  background-color: rgb(167, 173, 137);

  width: 20rem;
  height: calc(100vh - 180px);
}
