nav {
  float: left;
  width: 10%;
  height: calc(100vh - 162px);
  background: #ccc;
  padding: 30px;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: 4px;
}

nav li {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}
a {
  text-decoration: none;
}
article {
  float: left;
  padding-top: 5rem;
  padding-left: 22rem;
  color: rgba(17, 14, 14, 0.217);
  font-family: fantasy;
  text-align: center;
  font-size: 2rem;
}

.rhino {
  border: 2px solid red;
  border-style: groove;
  border-radius: 20rem;
}
